 .jumbotron{
        background-color: #9575cd;
        padding: 70px 30px 70px 30px
        margin: 0px auto;
        color: floralwhite;
    }

body{
	padding: 50px 0px 0px 0px;
	z-index: 0;
}

.navbar-dark{
	background-color: #512da8;
}

.footer{
	background-color: #D8BFD8;
}

.top-buffer { margin-top:100px; }

.crd-hdr {
	background-color: #CCCC00;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom:  1px solid #ddd;
	padding: 10px;
}
